
body {
    background-color: rgba(165, 163, 163, 0.555);
}

main {
    max-width: 1300px;
    margin: 0 auto 0 auto;
    background-color: white;
}

nav {
    background-color: rgb(31, 30, 30);
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

a.navi { 
    display: inline-block;
    color: white;
    width: 10%;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

img.poster {
    width: 100%;
    display: block;
    width: 20%;
    height: 20%;
    padding: 30px 30px;
    
}

img.Jack {
    width: 160px;
    height: 160px;
    padding: 30px 30px;
    
}

img.Shelley {
    width: 160px;
    height: 160px;
    padding: 30px 30px;
}

section > h1 {
padding: 30px 10px 0px 0px;
font-family: 'Cinzel', serif;
font-size: 40px;

}


section > h2 {
    padding: 0px 0px 10px 10px;
    color: rgb(112, 111, 111);
}

section > h3{
    color: rgb(112, 111, 111);
}

section {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
